.App {
  /* text-align: center; */
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-chatbot-kit-chat-container {
  margin: 10px;
}


/* user messenger message stlying */

.react-chatbot-kit-chat-bot-message-container + .react-chatbot-kit-user-chat-message-container div .message {
  border-bottom-right-radius: 5px;
}


.react-chatbot-kit-user-chat-message-container + .react-chatbot-kit-user-chat-message-container div .message {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* background-color: green; */
}

.react-chatbot-kit-user-chat-message-container:nth-last-child(2) div .message {
  border-bottom-right-radius: 1.3em;
}


/* bot messenger message stlying */

.react-chatbot-kit-chat-bot-message-container:nth-child(1) div .message {
  border-bottom-left-radius: 5px;
}

/* .react-chatbot-kit-chat-bot-message-container:nth-last-child(2) div .message {
  border-bottom-left-radius: 1.3em;
} */

.react-chatbot-kit-chat-bot-message-container + .react-chatbot-kit-chat-bot-message-container div .message {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.react-chatbot-kit-chat-bot-message-container:nth-last-child(-n+2) div .message {
  border-bottom-left-radius: 1.3em;
}
